html, body {
    margin: 0px;
    padding:0px;
    width:100%;
    font-size:20px;
    font-family:century;
    font-weight: bold;
}
div, p, h1, h2, h3, h4, h5, ul, li, a, span {
    margin:0px;
    padding:0px;
}
.empty{
    clear:both;
}
#tony-id{
    width:100%
}

/*menu*/
#tony-menu{
}

.menu{ /*menu at top*/
    width:100%;
    margin:auto;
    box-shadow: 2px 2px 12px 2px rgba (0, 0, 0, 0.2);
    text-align: center;
    z-index:800;
    position:fixed;
}
.menu ul{
    width:100%;
    margin:auto;
    padding:15px 0px;
}
.menu li{
display:inline-block;
padding:5px;
}

.menu a{
    text-decoration:none;
    background-color: lightgray;
    color: black;
    transition:0.4s;
    padding:5px 25px;
    border-radius: 10px;
}

.menu a:hover{
    text-decoration:none;
    color: white; /*hover color, the click button thing*/
    background-color: black;
    transition:0.4s;
}

/*Home*/
#tony-home{
    background:url(https://i.imgur.com/WYJSSE7.jpg) fixed 100% no-repeat;
    width: 100%; /*text adjust*/
    background-size:cover;
    text-align: justify;
    padding: 450px 0px 200px 0px; /*change cover size*/
    max-width: 100%;
}
.home{
    width:100%;
}
.home h1 { /*welcome, i am text*/
    font-size: 75px;
    color: white;
    font-weight: 100;
    padding: 0px 0px 5px 0px;
    background-color: black;
    width: 430px;
}
.home h2{
    font-size: 40px;
    font: weight 100;
    color: black;
    text-transform: uppercase;
    background-color: white; /*font color*/
    width: 220px;
}

/*About me*/
#tony-about{
    padding:100px 0px;
}
.about{
    max-width:960px;
    width:100%;
    margin:auto;
}
.profil-photo{/*kid picture of me*/
    width:50%;
    float:left;
}
.profil-photo img {
    width:90%;
}
.about-text{
    width:50%;
    float:left;
    position:relative;
}
.about-text h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom:15px;
    text-transform: uppercase;
}
.about-text p{
    text-align: justify;
    padding-bottom: 75px;
}

/*resume*/
#tony-resume{
    background:url(https://i.imgur.com/PFWtNkz.jpg);
    background-size:cover;
    text-align: justify;
    padding: 315px 0px 175% 0px; /*change cover size*/
    max-width: 100%;
}
.resume{
    Width:100%;
    margin:auto;
    text-align:center;
    max-width:480px;
    background-color: lightgray;
    border-radius: 15px;
    max-height: 480px;
    width: 260px;
}
.resume h2{
    font-size:35px;
    font-weight:bold;
    text-transform:uppercase;
    padding-bottom:15px;
}
.resume a:hover{
color: white;
}
.resume a{ /*download hover color*/
    color: green;
}

/*portfolio*/
#tony-portfolio{
    padding: 90px 0px; /*change padding here for portfolio each square*/
    background-color: gray;
}
.portfolio{
    max-width:960px;
    width:100%;
    text-align:center;
    margin:auto;
    padding-bottom: 300px;
}
.portfolio h2{
    font-size: 35px;
    font-weight:100;
    padding-bottom:50px;
    text-transform: uppercase;
}
.tony-portfolio h2{
    padding-bottom:100px;
    color: black;
    text-align: center;
    font-size: 80px;
}

.tony-minileft{
    transition: .4s;
    width:47%;
    margin-right:2.5%;
    float:left;
    box-shadow:0 0 20px 1px black;
}

.tony-miniright{
    transition: .4s;
    width:47%;
    margin-left:2.5%;
    float:left;
    box-shadow:0 0 20px 1px black;
}
.text-portfolio{
    height:250px;
    width:100%;
}
.formone{
    background:url(https://i.imgur.com/ihhS20j.png);
    background-size:cover;
}
.formtwo{
    background:url(https://i.imgur.com/j4fQT5M.png);
    background-size:cover;
}
.picture1{ /*wireframe text box*/
    padding:15px 30px 15px 15px;
}
.picture2{ /*wireframe text box*/
    padding:15px 30px 15px 15px;
}
.picture1 h3{
    font-size:25px;
    font-weight:100;
    padding-bottom: 10px;
    color:white;
}
.picture2 h3{
    font-size:25px;
    font-weight:100;
    padding-bottom: 10px;
    color:white;
}
.picture1 h4{
    line-height:25px;
    font-weight:100;
    color:white;
    font-size:18px;
}
.picture2 h4{
    line-height:25px;
    font-weight:100;
    color:white;
    font-size:18px;
}
.picture1 a{
    color:white;
}
.picture2 a{
    color: white;
}
.picture1 a:hover{ /*hover color*/
    color:black;
    background-color: white;
    border-radius: 10px;
}
.picture2 a:hover{ /*hover color*/
    color:black;
    background-color: white;
    border-radius: 10px;
}
.text-portfolio:hover{ /*useless hover, is not click*/
    transition:.4s;
    box-shadow:0 0 20px 1px black;
}

/*contact*/
#tony-contact{
padding: 75px 0px 50px 0px; /*change cover size*/
background:url(https://i.imgur.com/LWtdJa7.jpg)
fixed 100% no-repeat;
background-size:cover;
width:100%;

}
/*come back fix this design later*/
.contact{
    width:100%;
    margin:auto;
    max-width: 650px;
    text-align: center;
    padding: 55px;
}
.contact h2{
    padding: bottom 50px;
    font-size: 25px;
    font-weight: 100;
    text-transform:uppercase;
    color: white;
    background-color: black;
    width: 145px;
    border-radius: 8px;
}
.input h3{
    font-size:17px;
    font-weight:100;
    text-align:left;
    margin-top:15px;
    margin-bottom:10px;
    color: white;
    background-color: black;
    border-radius: 8px;
    width: 65px;
    text-align: center;
}
.input textarea{
    margin-bottom:15px;
}
.input[type="email"], input[type="text"], textarea{
    width:100%;
    height:25px;
    background-color: black;
    padding:2.5px 8px;
    border:none;
    border-bottom:1px solid lightgray;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    outline:none;
    color: white;
}
textarea{
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    max-width:100%;
}
/*stop here*/

input[type="submit"]{
    width:100%;
    font-size: 17px;
    display:inline-block;
    height:25px;
    padding:0 30px;
    text-align: center;
    font-weight: 100;
    line-height:20px;
    text-transform:uppercase;
    white-space: nowrap;
    border-radius: 0px;
    text-decoration: none;
    border: 0;
    background-color: black;
    color:white;
    box-sizing: border-box;
    transition: 0.4s;
}

input[type="submit"]:hover{
    color:black;
    background-color:white;
    transition: 0.4s;
    text-decoration: none;
}
/*footer*/
#tony-footer{
    padding:30px 0px;
    color: white;
    text-align: center;
    background-color: black;
}
.footer a {
    color:white ;
    transition:0.4s;
    padding-top: 50px;
    text-decoration: none;
}
/* add this if i want hover for footer

.footer a:hover {
    color:white;
    text-decoration: none;
    transition: 0.4s;
}   */
